.DS_Store
.well-known
.htaccess
/wp-content/themes/<theme>/node_modules
/wp-content/uploads
/wp-content/uploads_orig
/wp-content/themes/<theme>/package-lock.json
/wp-content/themes/<theme>/composer.lock
/wp-content/themes/<theme>/assets/css/style.css.map
/wp-content/themes/<theme>/style.css.map
/wp-content/themes/<theme>/false
/wp-content/*.sql
/wp-content/*.sql.zip
/wp-content/ai1wm-backups
/wp-content/object-cache.php
/wp-content/mu-plugins
/wp-content/wflogs

*.mp4

/wp-admin
/wp-includes

wp-activate.php
wp-blog-header.php
wp-config.php
wp-comments-post.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
readme.html
license.txt